<div>
  <%= flash[:notice] %>
</div>

  <div class="container">
    <div class="row">
      <div class="col-lg-3">

    <%= render 'list', user: @user, book_new: @book %>
      </div>


  <div class="col-lg-8 offset-md-1">

<h1>Books</h1>
  <table class="table table-striped">
    <th>
      <td>Title</td>
    </th>
    <th>
      <td>Opinion</td>
    </th>
  </table>
  </div>
  </div>
</div>









