<p>Welcome! You have signed up successfully.</p>

  <div class="container">
    <div class="row">

    <%= render 'list', user: @user, book_new: @book %>


  <div class="col-lg-8">
    
<h1>Books</h1>
  <table class="table table-striped">
    <th>
      <td>Title</td>
    </th>
    <th>
      <td>Opinion</td>
    </th>
  </table>
  </div>
  </div>
</div>









